body {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #171719;
  font-family: Open Sans,sans-serif;
  font-size: 1.4rem;
}

#page-wrapper {
  display: flex;
  min-height: calc(100vh - 6rem);
  color: hsla(0, 0%, 100%, 0.8);
  background-color: #23262a;
  border-radius: 0.8rem;
  padding: 3rem;
  margin: 3rem;
}

.canvas-section {
  border: 1px solid red;
  flex: 1 1 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

  #canvas {
    border: 1px solid red;
  }

.side-section {
  flex: 0 0 40rem;
  padding-left: 2rem;
}

  .sub-section {
    background-color: hsla(0,0%,100%,.03);
    padding: 2rem;
    border-radius: 0.8rem;
  }

  .top-section {
    /* border: 1px solid red; */
    margin-bottom: 2rem;
    width: 100%;
  }

    .top-menu {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

      .button {
        cursor: pointer;
        display: inline-block;
        position: relative;
        opacity: 0.8;
        font-size: 1.2rem;
        font-weight: 700;
        border-radius: 0.4rem;
        letter-spacing: 0.1rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        height: 3.5rem;
        line-height: 3.5rem;
        min-width: 12.5rem;
        transition: all .15s linear;
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        padding: 0 2rem 0 2rem;
        white-space: nowrap;
      }

      .button.positive {
        background: linear-gradient(180deg,#00a3da,#09c);
        background-size: 100%;
        background-position: 50% 50%;
      }

      .button.negative {
        background-color: #4d515a;
      }

      .demo-button {

      }

      .options-button {
        display: none;
      }

      .apply-button {

      }

  .bottom-section {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

    .capture-menu {
      /* border: 1px solid red; */
      margin-bottom: 2rem;
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    .captured-stills-container {
      /* border: 1px solid red; */
      padding: 1.5rem;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
      max-height: 24.9rem;
      overflow-y: auto;
    }

    .captured-stills-container>a {
      flex: 0 1 11.4rem;
    }

    .captured-stills-container img {
      width: 11rem;
      padding: 0.8rem 0.8rem 2.5rem 0.8rem;
      box-shadow: 0 0 3px rgba(0,0,0,0.2);
      background: white;
    }

    .captured-stills-container a:nth-child(5n+1) img { transform: rotate(10deg); }
    .captured-stills-container a:nth-child(5n+2) img { transform: rotate(-2deg); }
    .captured-stills-container a:nth-child(5n+3) img { transform: rotate(8deg); }
    .captured-stills-container a:nth-child(5n+4) img { transform: rotate(-11deg); }
    .captured-stills-container a:nth-child(5n+5) img { transform: rotate(12deg); }


@media only screen and (max-width: 736px) {

#page-wrapper {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.canvas-section {
  margin-top: 6.5rem;
  margin-bottom: 7.5rem;
}

.side-section {
  position: fixed;
  padding: 0;
}

  .sub-section {
    
  }

  .top-section {
    position: fixed;
    top: 0;
    margin-bottom: 0;
    z-index: 1;
  }

    .options-button {
      display: block;
    }

  .bottom-section {
    position: fixed;
    bottom: 0;
    z-index: 1;
  }

    .capture-menu {
      margin-bottom: 0;
      margin-top: 0.5rem;
      order: 2;
    }

    .captured-stills-container {
      padding: 1rem;
      flex-wrap: nowrap;
      overflow-y: visible;
      overflow-x: auto;
      order: 1;
    }

    .captured-stills-container>a {
      flex: 0 1 6rem;
    }

    .captured-stills-container img {
      width: 6rem;
      padding: 0.2rem 0.2rem 0.8rem 0.2rem;
    }

}